<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <ul class="list-group" id="tweets">

                {% set css_class = 'list-group-item-info' %}

                {% for element in content %}
                    {% if element['label'] == 'neg' %}
                        {% set css_class = 'list-group-item-danger' %}
                    {% elif element['label'] == 'pos' %}
                        {% set css_class = 'list-group-item-success' %}
                    {% endif %}
                    <li class="list-group-item {{ css_class }}">{{ element['tweet'] }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>